<h1>Bar List</h1>
{{#each content}}
    <li>{{name}}</li>
    <li>{{town}}</li>
    <li>{{address}}</li>
    <li>{{latitude}}</li>
    <li>{{longitude}}</li>
    <li>{{happyHourStart}}</li>
    <li>{{happyHourEnd}}</li>
{{/each}}