<h1>Beers list</h1>
{{#each content}}
    <li>{{name}}</li>
    <li>{{type}}</li>
    <li>{{color}}</li>
    <li>{{degree}}</li>
    <li>{{price}}</li>
    <li>{{country}}</li>
    <li>{{brand}}</li>
{{/each}}